//Colores

$colorHoja: #F3F3F4;
$cajaPublicidad: #FFDD08;
$cajaVacia: #B3B4B7;
$colorcabeceraHoja: #BDBCBC;
$colorNavbar: #585857;
$colorSeccion: #939394;
$colorClarin:#D90E22;

//Estilos

.cont-hoja{
    width: 100%;
    height: auto;
    padding: 0px;
    box-sizing: border-box;
    background-color: $colorHoja;

        .cont-cabecera-hoja{
            width: 100%;
            height: 20px;
            background-color: $colorcabeceraHoja;
        }

        .hoja{
            width: 100%;
            padding: 1%;
            height: auto;
            box-sizing: border-box;

            .cont-logo{
                height: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                padding: 10px;

                    img{
                        width: auto;
                        height: 20px;
                        cursor: pointer;
                    }

                    .texto-seccion{
                        h1{
                            font-family: Arial, Helvetica, sans-serif ;
                            font-size: 16px ;
                            font-weight: 300;
                            color:$colorSeccion ;
                            margin: 5px 0px 0px 10px;
                        }
                    }

            }

            .cont-moculo-00{
                width: 100%;
                height: auto;
                margin: 0px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                align-content: center;
            }

            .cont-modulo-01{
                width: 100%;
                height: auto;
                display: flex;
                padding: 0px;
                margin: 0px;
                flex-direction: row;

                    .modulo-01-a{
                        width: 50%;
                        margin: 10px 1%;
                    }

                    .modulo-01-b{
                        width: 25%;
                        margin: 10px 1%;

                    }

                    .modulo-01-c{
                        width: 25%;
                        margin: 10px 1%;
                    }
            }

            .cont-modulo-02{
                width: 100%;
                height: auto;
                display: flex;
                padding: 0px;
                margin: 0px;
                flex-direction: row;

                    .modulo-02-a{
                        width:50%;
                        height:auto;
                        margin: 10px 1%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }

                    .modulo-02-b{
                        width:25%;
                        height:auto;
                        margin: 10px 1%;

                    }

                    .modulo-02-c{
                        width:25%;
                        height:auto;
                        margin: 10px 1%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }

            }

            .cont-modulo-03{
                width: 100%;
                height: auto;
                display: flex;
                padding: 0px;
                margin: 0px;
                flex-direction: row;
                
                .modulo-03-a{
                    width: 25%;
                    height: auto;
                    margin: 10px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-03-b{
                    width: 25%;
                    height: auto;
                    margin: 10px 1% ;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-03-c{
                    width: 25%;
                    height: auto;
                    margin: 10px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-03-d{
                    width: 25%;
                    height: auto;
                    margin: 10px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }
            }

            .cont-modulo-04{
                width: 100%;
                height: auto;
                display: flex;
                padding: 0px;
                margin: 0px;
                flex-direction: row;

                    .modulo-04-a{
                        width: 50%;
                        margin: 0px 1%;
                    }

                    .modulo-04-b{
                        width: 24%;
                        margin: 0px 1%;

                    }

                    .modulo-04-c{
                        width: 24%;
                        margin: 0px 1%;
                    }
            }

            .cont-modulo-05{
                width: 100%;
                height: auto;
                display: flex;
                padding: 0px;
                margin: 10px 0px 0px 0px;
                flex-direction: row;
                
                .modulo-05-a{
                    width: 26%;
                    height: auto;
                    margin: 10px 0px 10px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-05-b{
                    width: 26%;
                    height: auto;
                    margin: 10px 1% 0px 0px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-05-c{
                    width: 25%;
                    height: auto;
                    margin: 10px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-05-d{
                    width: 25%;
                    height: auto;
                    margin: 10px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }
            }

            .cont-modulo-06{
                width: 100%;
                height: auto;
                display: flex;
                padding: 0px;
                margin: 0px;
                flex-direction: row;

                .modulo-06-a{
                    width: 24%;
                    margin: 0px 1%;
                }

                .modulo-06-b{
                    width: 24%;
                    margin: 0px 1%;
                }

                .modulo-06-c{
                    width: 50%;
                    margin: 0px 1%;
                }

            }

            .cont-modulo-07{
                width: 100%;
                height: auto;
                display: flex;
                padding: 0px;
                margin: 10px 0px 0px 0px;
                flex-direction: row;
                
                .modulo-07-a{
                    width: 26%;
                    height: auto;
                    margin: 10px 0px 0px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-07-b{
                    width: 26%;
                    height: auto;
                    margin: 10px 1% 0px 0px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-07-c{
                    width: 25%;
                    height: auto;
                    margin: 10px 1% 0px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-07-d{
                    width: 25%;
                    height: auto;
                    margin: 10px 1% 0px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }
            }

            .cont-modulo-08{
                width: 100%;
                height: auto;
                display: flex;
                padding: 0px;
                margin: 0px;
                flex-direction: row;
            }

            .cont-modulo-09{
                width: 100%;
                height: auto;
                display: flex;
                padding: 0px;
                margin: 0px;
                flex-direction: row;
                
                .modulo-09-a{
                    width: 26%;
                    height: auto;
                    margin: 10px 0px 0px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-09-b{
                    width: 26%;
                    height: auto;
                    margin: 10px 1% 0px 0px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-09-c{
                    width: 25%;
                    height: auto;
                    margin: 10px 1% 0px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-09-d{
                    width: 25%;
                    height: auto;
                    margin: 10px 1% 0px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }
            }

            .cont-modulo-10{
                width: 100%;
                height: auto;
                display: flex;
                padding: 0px;
                margin: 0px;
                flex-direction: row;
            }

            .cont-modulo-11{
                width: 100%;
                height: auto;
                display: flex;
                padding: 0px;
                margin: 0px;
                flex-direction: row;
                
                .modulo-11-a{
                    width: 25%;
                    height: auto;
                    margin: 10px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-11-b{
                    width: 25%;
                    height: auto;
                    margin: 10px 1% ;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-11-c{
                    width: 25%;
                    height: auto;
                    margin: 10px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-11-d{
                    width: 25%;
                    height: auto;
                    margin: 10px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }
            }

            .cont-modulo-12{
                width: 100%;
                height: auto;
                display: flex;
                padding: 0px;
                margin: 0px;
                flex-direction: row;
                
                .modulo-12-a{
                    width: 25%;
                    height: auto;
                    margin: 10px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-12-b{
                    width: 25%;
                    height: auto;
                    margin: 10px 1% ;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-12-c{
                    width: 25%;
                    height: auto;
                    margin: 10px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-12-d{
                    width: 25%;
                    height: auto;
                    margin: 10px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }
            }

            .cont-modulo-13{
                width: 100%;
                height: auto;
                display: flex;
                padding: 0px;
                margin: 0px;
                flex-direction: row;

                    .modulo-13-a{
                        width: 50%;
                        margin: 0px 1% 10px 1%;
                    }

                    .modulo-13-b{
                        width: 24%;
                        margin: 0px 1% 10px 1%;
                    }

                    .modulo-13-c{
                        width: 24%;
                        margin: 0px 1% 10px 1%;
                    }
            }


            .cont-modulo-14{
                width: 100%;
                height: auto;
                display: flex;
                padding: 0px;
                margin: 0px;
                flex-direction: row;
                
                .modulo-14-a{
                    width: 26%;
                    height: auto;
                    margin: 10px 0px 0px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-14-b{
                    width: 26%;
                    height: auto;
                    margin: 10px 1% 0px 0px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-14-c{
                    width: 25%;
                    height: auto;
                    margin: 10px 1% 0px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-14-d{
                    width: 25%;
                    height: auto;
                    margin: 10px 1% 0px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }
            }

            .cont-modulo-15{
                width: 100%;
                height: auto;
                display: flex;
                padding: 0px;
                margin: 0px;
                flex-direction: row;
                
                .modulo-15-a{
                    width: 26%;
                    height: auto;
                    margin: 10px 0px 0px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-15-b{
                    width: 26%;
                    height: auto;
                    margin: 10px 1% 0px 0px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-15-c{
                    width: 25%;
                    height: auto;
                    margin: 10px 1% 0px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .modulo-15-d{
                    width: 25%;
                    height: auto;
                    margin: 10px 1% 0px 1%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }
            }

            .cont-modulo-16{
                width: 100%;
                height: auto;
                display: flex;
                padding: 0px;
                margin: 0px;
                flex-direction: row;

                    .modulo-16-a{
                        width: 50%;
                        margin: 10px 1% 10px 1%;
                    }

                    .modulo-16-b{
                        width: 24%;
                        margin: 10px 1% 10px 1%;
                    }

                    .modulo-16-c{
                        width: 24%;
                        margin: 10px 1% 10px 1%;
                    }
            }


            .cont-modulo-17{
                width: 100%;
                height: auto;
                display: flex;
                padding: 0px;
                margin: 0px;
                flex-direction: row;
            }

        }

        .cont-cajas-medias{
            width: 110px;
            height: auto;
            display: flex;
            flex-direction: column;

                .caja-media-superior{
                    width: 110px;
                    height: 35px;
                    margin: 10px 10px 10px 10px;
                    background-color: $cajaVacia;
                }
        
                .caja-media-inferior{
                    width: 110px;
                    height: 35px;
                    margin: 10px 10px 10px 10px;
                    background-color: $cajaVacia;
                }
        }

        .caja-media-mitad{
            width: 240px;
            height: 45px;
            margin: 10px;
            background-color: $cajaVacia;
        }

        .cont-caja-media-cuarto{
            width: 90px;
            height: auto;
            display: flex;
            flex-direction: column;

                .caja-media-cuarto{
                    width: 100%;
                    height: 25px;
                    margin: 5px 0px;
                    background-color: $cajaVacia;
                }

                .caja-media-cuarto-llena{
                    width: 100%;
                    height: 95px;
                    margin: 5px 0px;
                    background-color: $cajaVacia;
                }

        }


        .caja-simple{
            width: 25%;
            height: 90px;
            margin: 10px 1%;
            background-color: $cajaVacia;
        }

        .caja-25p{
            width: 25%;
            height: 90px;
            margin: 0.5%;
            background-color: $cajaVacia;
        }

        .caja-doble{
            width: 50%;
            height: 90px;
            margin: 1%;
            background-color: $cajaVacia;
        }

        .caja-media-a{
            width: 48%;
            height: 90px;
            margin: 10px 0px;
            background-color: $cajaVacia;
            box-sizing: border-box;
        }

        .caja-media-b{
            width: 48%;
            height: 90px;
            margin: 0px 0px 10px 0px;
            background-color: $cajaVacia;
            box-sizing: border-box;
        }

        .caja-media-full{
            width: 50%;
            height: 90px;
            margin: 1% 0px;
            background-color: $cajaVacia;
            box-sizing: border-box;
        }

        .caja-llena{
            width: 100%;
            height: 90px;
            margin: 0px;
            background-color: $cajaVacia;
            box-sizing: border-box;
        }

        .caja-llena-a{
            width: 100%;
            height: 90px;
            margin: 0px 0px 10px 0px;
            background-color: $cajaVacia;
            box-sizing: border-box;
        }

        .caja-llena-b{
            width: 100%;
            height: 90px;
            margin: 0px 0px 10px 0px;
            background-color: $cajaVacia;
            box-sizing: border-box;
        }

        .caja-llena-c{
            width: 100%;
            height: 90px;
            margin: 10px 0px 10px 0px;
            background-color: $cajaVacia;
            box-sizing: border-box;
        }

        .caja-llena-d{
            width: 100%;
            height:100px;
            background-color: $cajaVacia;
            box-sizing: border-box;
        }

        .caja-llena-e{
            width: 100%;
            height:100px;
            padding:  0px;
            background-color: $cajaVacia;
            box-sizing: border-box;
        }

        .caja-100p{
            width: 97%;
            height: 90px;
            margin: 1%;
            background-color: $cajaVacia;
        }

        .caja-cuadruple{
            width: 240px;
            height: 200px;
            margin: 10px;
            background-color: $cajaVacia;
        }

        .caja-fullpage{
            width: 500px;
            height: 200px;
            margin: 10px;
            background-color: $cajaVacia;
        }

        .caja-ciega{
            width: 110px;
            height: 90px;
            margin: 10px;
        }

        .horizontal-full{
            width: 98%;
            height: 270px;
            margin: 1%;
            background-color:$cajaVacia;
        }

        .horizontal-1{
            width: 98%;
            height: 45px;
            margin: 1%;
            background-color:$cajaPublicidad;
        }

        .horizontal-2{
            width: 98%;
            height: 135px;
            margin: 10px 1% 10px 1%;
            background-color:$cajaPublicidad;
        }

        .horizontal-3{
            width: 98%;
            height: 135px;
            margin: 0px 1% 10px 1%;
            background-color:$cajaPublicidad;
        }

        .horizontal-4{
            width: 98%;
            height: 135px;
            margin: 10px 1%;
            background-color:$cajaPublicidad;
        }

        .horizontal-5{
            width: 98%;
            height: 135px;
            margin: 0px 1% 10px 1%;
            background-color:$cajaPublicidad;
        }

        .caja-0{
            width: 100%;
            height: 50%;
            margin:0px;
            background-color: $cajaPublicidad;
            position: relative;
        }


        .caja-1{
            width: 100%;
            height: 90px;
            margin: 10px 0px 10px 0px;
            background-color: $cajaPublicidad;
        }

        .caja-2{
            width: 100%;
            height: 90px;
            margin: 0px;
            background-color: $cajaPublicidad;
        }

        .caja-3{
            width: 100%;
            height: 90px;
            margin: 0px;
            background-color: $cajaPublicidad;
        }

        .caja-4{
            width: 100%;
            height: 100%;
            margin: 0px 0px 10px 0px;
            background-color: $cajaPublicidad;
        }

        .caja-5{
            width: 100%;
            height: 100%;
            margin: 0px 0px 10px 0px;
            background-color: $cajaPublicidad;
        }

        .caja-6{
            width: 48%;
            height: 90px;
            margin: 10px 0px 0px 0px;
            background-color: $cajaPublicidad;
        }

        .caja-7{
            width: 100%;
            height: 100%;
            margin: 0px 0px 10px 0px;
            background-color: $cajaPublicidad;
        }

        .caja-8{
            width: 100%;
            height: 100%;
            margin: 0px 0px 10px 0px;
            background-color: $cajaPublicidad;
        }


}