body {
  margin: 0px;
  background-color: #DADADA;
}

main#cotizador {
  width: 100%;
  height: auto;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav {
  width: 100%;
  height: 50px;
  background-color: #585857;
}

.cont-hoja {
  width: 540px;
  height: auto;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F3F3F4;
}

.cont-hoja .cont-cabecera-hoja {
  width: 100%;
  height: 20px;
  background-color: #BDBCBC;
}

.cont-hoja .hoja {
  width: 540px;
  padding: 10px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-hoja .hoja .cont-logo {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px;
}

.cont-hoja .hoja .cont-logo img {
  width: auto;
  height: 20px;
}

.cont-hoja .hoja .cont-logo .texto-seccion h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #939394;
  margin: 0px 10px;
}

.cont-hoja .hoja .cont-modulo-01 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-02 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-02 .modulo-02-a {
  width: 100%;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont-hoja .hoja .cont-modulo-02 .modulo-02-a .modulo-02-a-columna {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-02 .modulo-02-b {
  width: 100%;
  height: auto;
  padding: 0px;
}

.cont-hoja .hoja .cont-modulo-02 .modulo-02-c {
  width: 100%;
  height: auto;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont-hoja .hoja .cont-modulo-03 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-03 .modulo-03-a {
  width: 260px;
  height: auto;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-hoja .hoja .cont-modulo-03 .modulo-03-b {
  width: 260px;
  height: auto;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-hoja .hoja .cont-modulo-04 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-05 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-05 .modulo-05-a {
  width: 260px;
  height: auto;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-hoja .hoja .cont-modulo-05 .modulo-05-b {
  width: 260px;
  height: auto;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-hoja .hoja .cont-modulo-06 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-07 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-07 .modulo-07-a {
  width: 260px;
  height: auto;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-hoja .hoja .cont-modulo-07 .modulo-07-b {
  width: 260px;
  height: auto;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-hoja .hoja .cont-modulo-08 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-09 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-09 .modulo-09-a {
  width: 260px;
  height: auto;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-hoja .hoja .cont-modulo-09 .modulo-09-b {
  width: 260px;
  height: auto;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-hoja .hoja .cont-modulo-10 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-11 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-11 .modulo-11-a {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-hoja .hoja .cont-modulo-11 .modulo-11-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cont-hoja .hoja .cont-modulo-11 .modulo-11-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cont-hoja .hoja .cont-modulo-12 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-12 .modulo-12-a {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-hoja .hoja .cont-modulo-12 .modulo-12-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cont-hoja .hoja .cont-modulo-12 .modulo-12-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cont-hoja .hoja .cont-modulo-13 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-14 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-14 .modulo-14-a {
  width: 260px;
  height: auto;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-hoja .hoja .cont-modulo-14 .modulo-14-b {
  width: 100%;
  height: auto;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-hoja .hoja .cont-modulo-14 .modulo-14-b {
  width: 100%;
  height: auto;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-hoja .hoja .cont-modulo-15 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-15 .modulo-15-a {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-hoja .hoja .cont-modulo-15 .modulo-15-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cont-hoja .hoja .cont-modulo-15 .modulo-15-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cont-hoja .hoja .cont-modulo-16 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-17 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-hoja .hoja .cont-modulo-18 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja .hoja .cont-modulo-19 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cont-hoja .hoja .cont-modulo-20 {
  width: 500px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont-hoja .cont-cajas-medias {
  width: 110px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cont-hoja .cont-cajas-medias .caja-media-superior {
  width: 110px;
  height: 35px;
  margin: 10px 10px 10px 10px;
  background-color: #B3B4B7;
}

.cont-hoja .cont-cajas-medias .caja-media-inferior {
  width: 110px;
  height: 35px;
  margin: 10px 10px 10px 10px;
  background-color: #B3B4B7;
}

.cont-hoja .caja-media-mitad {
  width: 240px;
  height: 45px;
  margin: 10px;
  background-color: #B3B4B7;
}

.cont-hoja .cont-caja-media-cuarto {
  width: 90px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cont-hoja .cont-caja-media-cuarto .caja-media-cuarto {
  width: 100%;
  height: 25px;
  margin: 5px 0px;
  background-color: #B3B4B7;
}

.cont-hoja .cont-caja-media-cuarto .caja-media-cuarto-llena {
  width: 100%;
  height: 95px;
  margin: 5px 0px;
  background-color: #B3B4B7;
}

.cont-hoja .caja-simple {
  width: 110px;
  height: 90px;
  margin: 10px;
  background-color: #B3B4B7;
}

.cont-hoja .caja-doble {
  width: 240px;
  height: 90px;
  margin: 10px;
  background-color: #B3B4B7;
}

.cont-hoja .caja-cuadruple {
  width: 240px;
  height: 200px;
  margin: 10px;
  background-color: #B3B4B7;
}

.cont-hoja .caja-fullpage {
  width: 500px;
  height: 200px;
  margin: 10px;
  background-color: #B3B4B7;
}

.cont-hoja .caja-ciega {
  width: 110px;
  height: 90px;
  margin: 10px;
}

.cont-hoja .horizontal-1 {
  width: 500px;
  height: 45px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja .horizontal-2 {
  width: 500px;
  height: 135px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja .horizontal-3 {
  width: 500px;
  height: 135px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja .horizontal-4 {
  width: 500px;
  height: 135px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja .horizontal-5 {
  width: 500px;
  height: 135px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja .caja-0 {
  width: 110px;
  height: 200px;
  margin: 10px;
  background-color: #FFDD08;
  position: fixed;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.cont-hoja .caja-0-suelta {
  width: 110px;
  height: 200px;
  margin: 10px;
  background-color: #FFDD08;
  position: none;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.cont-hoja .caja-1 {
  width: 110px;
  height: 90px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja .caja-2 {
  width: 110px;
  height: 90px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja .caja-3 {
  width: 110px;
  height: 90px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja .caja-4 {
  width: 110px;
  height: 200px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja .caja-5 {
  width: 110px;
  height: 200px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja .caja-6 {
  width: 110px;
  height: 90px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja .caja-7 {
  width: 110px;
  height: 200px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja .caja-8 {
  width: 110px;
  height: 200px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome {
  width: 540px;
  height: auto;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F3F3F4;
}

.cont-hoja-subhome .cont-cabecera-hoja-subhome {
  width: 100%;
  height: 20px;
  background-color: #BDBCBC;
}

.cont-hoja-subhome .hoja-subhome {
  width: 540px;
  padding: 10px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-hoja-subhome .hoja-subhome .cont-logo {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .hoja-subhome .cont-logo img {
  width: auto;
  height: 20px;
}

.cont-hoja-subhome .hoja-subhome .cont-logo .texto-seccion h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #939394;
  margin: 0px 10px;
}

.cont-hoja-subhome .hoja-subhome .cont-modulo-01 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .hoja-subhome .cont-modulo-02 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .hoja-subhome .cont-modulo-03 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .hoja-subhome .cont-modulo-04 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .hoja-subhome .cont-modulo-05 {
  width: 100%;
  height: 170px;
  padding: 0px;
  margin: 0px;
}

.cont-hoja-subhome .hoja-subhome .cont-modulo-06 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .hoja-subhome .cont-modulo-07 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .cont-dos-columnas {
  width: 390px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .cont-dos-columnas .dos-columnas-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 260px;
}

.cont-hoja-subhome .cont-dos-columnas .dos-columnas-b {
  width: 130px;
}

.cont-hoja-subhome .cont-tres-columnas {
  width: 520px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .cont-tres-columnas .tres-columnas-a {
  width: 390px;
}

.cont-hoja-subhome .cont-tres-columnas .tres-columnas-b {
  width: 130px;
}

.cont-hoja-subhome .caja-simple {
  width: 110px;
  height: 90px;
  margin: 10px;
  background-image: url(/img/nota_desktop.svg);
  background-repeat: no-repeat;
}

.cont-hoja-subhome .caja-doble {
  width: 240px;
  height: 90px;
  margin: 10px;
  background-color: #B3B4B7;
}

.cont-hoja-subhome .caja-cuadruple {
  width: 240px;
  height: 200px;
  margin: 10px;
  background-color: #B3B4B7;
}

.cont-hoja-subhome .caja-carrusel {
  width: 370px;
  height: 170px;
  margin: 10px;
  background-image: url(/img/carrusel_desktop.svg);
  background-repeat: no-repeat;
}

.cont-hoja-subhome .caja-mas-leido {
  width: 110px;
  height: 300px;
  margin: 10px;
  background-image: url(/img/mas_leida_desktop.svg);
  background-repeat: no-repeat;
}

.cont-hoja-subhome .caja-ciega {
  width: 110px;
  height: 90px;
  margin: 10px;
}

.cont-hoja-subhome .flotante-3 {
  width: 110px;
  height: 200px;
  margin: 10px;
  background-color: #FFDD08;
  position: fixed;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.cont-hoja-subhome .horizontal-1 {
  width: 370px;
  height: 45px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome .horizontal-2 {
  width: 370px;
  height: 135px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome .horizontal-3 {
  width: 370px;
  height: 135px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome .caja-1 {
  width: 110px;
  height: 90px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome .caja-2 {
  width: 110px;
  height: 90px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome .caja-3 {
  width: 110px;
  height: 90px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome .caja-4 {
  width: 110px;
  height: 90px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome {
  width: 540px;
  height: auto;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F3F3F4;
}

.cont-hoja-subhome .cont-cabecera-hoja-subhome {
  width: 100%;
  height: 20px;
  background-color: #BDBCBC;
}

.cont-hoja-subhome .hoja-subhome {
  width: 540px;
  padding: 10px;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-hoja-subhome .hoja-subhome .cont-logo {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .hoja-subhome .cont-logo img {
  width: auto;
  height: 20px;
}

.cont-hoja-subhome .hoja-subhome .cont-logo .texto-seccion h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #939394;
  margin: 0px 10px;
}

.cont-hoja-subhome .hoja-subhome .cont-modulo-01 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .hoja-subhome .cont-modulo-02 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .hoja-subhome .cont-modulo-03 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .hoja-subhome .cont-modulo-04 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .hoja-subhome .cont-modulo-05 {
  width: 100%;
  height: 170px;
  padding: 0px;
  margin: 0px;
}

.cont-hoja-subhome .hoja-subhome .cont-modulo-06 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .hoja-subhome .cont-modulo-07 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .hoja-subhome .cont-modulo-08 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .hoja-subhome .cont-modulo-09 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .hoja-subhome .cont-modulo-10 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cont-hoja-subhome .cont-dos-columnas {
  width: 390px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .cont-dos-columnas .dos-columnas-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 260px;
}

.cont-hoja-subhome .cont-dos-columnas .dos-columnas-b {
  width: 130px;
}

.cont-hoja-subhome .cont-tres-columnas {
  width: 520px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cont-hoja-subhome .cont-tres-columnas .tres-columnas-a {
  width: 390px;
}

.cont-hoja-subhome .cont-tres-columnas .tres-columnas-b {
  width: 130px;
}

.cont-hoja-subhome .caja-simple {
  width: 110px;
  height: 90px;
  margin: 10px;
  background-image: url(/img/nota_desktop.svg);
  background-repeat: no-repeat;
}

.cont-hoja-subhome .mas-notas {
  width: 370px;
  height: 45px;
  margin: 10px;
  background-image: url(/img/mas_notas_desktop.svg);
  background-repeat: no-repeat;
}

.cont-hoja-subhome .caja-doble {
  width: 240px;
  height: 90px;
  margin: 10px;
  background-color: #B3B4B7;
}

.cont-hoja-subhome .caja-cuadruple {
  width: 240px;
  height: 200px;
  margin: 10px;
  background-color: #B3B4B7;
}

.cont-hoja-subhome .caja-mas-leido {
  width: 110px;
  height: 300px;
  margin: 10px;
  background-image: url(/img/mas_leida_desktop.svg);
  background-repeat: no-repeat;
}

.cont-hoja-subhome .titulo-nota-desktop {
  width: 370px;
  height: 100px;
  margin: 10px;
  background-image: url(/img/titulo_nota_desktop.svg);
  background-repeat: no-repeat;
}

.cont-hoja-subhome .autor-nota-desktop {
  width: 240px;
  height: 25px;
  margin: 10px;
  background-image: url(/img/autor_nota_desktop.svg);
  background-repeat: no-repeat;
}

.cont-hoja-subhome .parrafo-nota-desktop {
  width: 240px;
  height: 95px;
  margin: 10px;
  background-image: url(/img/parrafo_nota_desktop.svg);
  background-repeat: no-repeat;
}

.cont-hoja-subhome .caja-ciega {
  width: 110px;
  height: 90px;
  margin: 10px;
}

.cont-hoja-subhome .epigrafe-nota-desktop {
  width: 370px;
  height: 14px;
  margin: 10px;
  background-image: url(/img/epigrafe_nota_desktop.svg);
  background-repeat: no-repeat;
}

.cont-hoja-subhome .fin-nota-desktop {
  width: 240px;
  height: 145px;
  margin: 10px;
  background-image: url(/img/fin_nota_desktop.svg);
  background-repeat: no-repeat;
}

.cont-hoja-subhome .comentarios-nota-desktop {
  width: 240px;
  height: 220px;
  margin: 10px;
  background-image: url(/img/comentarios_nota_desktop.svg);
  background-repeat: no-repeat;
}

.cont-hoja-subhome .flotante-3 {
  width: 110px;
  height: 200px;
  margin: 10px;
  background-color: #FFDD08;
  position: fixed;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.cont-hoja-subhome .horizontal-1 {
  width: 370px;
  height: 45px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome .horizontal-2 {
  width: 370px;
  height: 135px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome .horizontal-3 {
  width: 370px;
  height: 135px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome .player-prerroll {
  width: 370px;
  height: 180px;
  margin: 10px;
  background-color: #D20A11;
}

.cont-hoja-subhome .player-prerroll-nota {
  width: 240px;
  height: 135px;
  margin: 10px;
  background-color: #D20A11;
}

.cont-hoja-subhome .inread-1 {
  width: 240px;
  height: 200px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome .inread-2 {
  width: 240px;
  height: 200px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome .inread-3 {
  width: 240px;
  height: 200px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome .auspicio {
  width: 110px;
  height: 45px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome .caja-1 {
  width: 110px;
  height: 90px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome .caja-2 {
  width: 110px;
  height: 90px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome .caja-3 {
  width: 110px;
  height: 90px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-hoja-subhome .caja-4 {
  width: 110px;
  height: 90px;
  margin: 10px;
  background-color: #FFDD08;
}

.cont-textos-cajas {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cont-textos-cajas .textos-cajas {
  width: 100%;
  height: 40px;
}

.cont-textos-cajas .textos-cajas h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #2C3E50;
  font-weight: 500;
  margin: 0px;
  text-align: center;
}

.cont-textos-cajas .textos-cajas h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #2C3E50;
  font-weight: 300;
  margin: 0px;
  text-align: center;
}

.nombre-lazyload::before {
  content: "LL";
}

.cont-textos-lazyload {
  width: 100%;
  height: 20px;
  top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  z-index: 1000;
}

.cont-textos-lazyload .texto-lazyload {
  width: 100%;
  height: 20px;
  position: relative;
}

.cont-textos-lazyload .texto-lazyload h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #c00d0d;
  font-weight: 700;
  margin: 0px 10px;
  text-align: right;
  text-transform: uppercase;
}

section#datosPosiciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.cont-datos-posiciones {
  width: 110px;
  height: 100px;
  border: solid 3px #585857;
  background-color: #ffffff;
  margin: 0px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.datos-posicion {
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.datos-posicion h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #3C3C3B;
  text-align: center;
  margin: 0px;
  padding: 0px;
  border-bottom: solid #DADADA 1px;
}

.nombre-posicion::before {
  content: "";
}

.datos-impresiones {
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.datos-impresiones h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #3C3C3B;
  text-align: center;
  font-style: italic;
  margin: 0px;
  padding: 0px;
  border-bottom: solid #DADADA 1px;
}

.nombre-impresiones::before {
  content: " Imp";
}

.datos-vw {
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.datos-vw h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #3C3C3B;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding: 0px;
  border-bottom: solid #DADADA 1px;
}

.nombre-vw::before {
  content: " %VW";
}

.datos-porcentaje {
  width: 80%;
  margin: 0px 10%;
  height: 10px;
  background-color: #F3F3F4;
  border-radius: 10px;
}

.datos-porcentaje .relleno-porcentaje {
  margin: 0%;
  height: 10px;
  background-color: blue;
  border-radius: 10px;
}

.datos-porcentaje .size-10 {
  width: 10%;
}

.datos-porcentaje .size-20 {
  width: 20%;
}

.datos-porcentaje .size-30 {
  width: 30%;
}

.datos-porcentaje .size-40 {
  width: 40%;
}

.datos-porcentaje .size-50 {
  width: 50%;
}

.datos-porcentaje .size-60 {
  width: 60%;
}

.datos-porcentaje .size-70 {
  width: 70%;
}

.datos-porcentaje .size-80 {
  width: 80%;
}

.datos-porcentaje .size-90 {
  width: 90%;
}

.datos-porcentaje .size-100 {
  width: 100%;
}

.datos-porcentaje .color-bajo {
  background-color: #E52521;
}

.datos-porcentaje .color-medio {
  background-color: #F9EA31;
}

.datos-porcentaje .color-alto {
  background-color: #8EC045;
}
/*# sourceMappingURL=style.css.map */